*{
    margin: 0;
    font-size: 24px;
    background-color: #919191;
}
header{
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke-color: #3C5AA6;
    -webkit-text-stroke-width: 2.5px;
    color: #FFCB05;
    text-shadow: 1px 4px 1px #0A285F;
    padding: 5px;
    background-color: #EE4035;
    border-bottom: black solid 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    }
h1{
    background-color:  #EE4035;
    text-shadow: 1px 10px 1px #0A285F;
    font-size: 75px;
    padding-left: 10%;
}
ul{
    background-color:  #EE4035;
}
li{
    background-color:  #EE4035;
    list-style: none;
    font-size: 20px;
}
div{
    margin: 10px;
    border: 4px;
    border-radius: 5px;
    border-color:  #EE4035;
    border-style: solid;
    padding: 10px;
}
div:hover{
    background-color: #FFCB05;
    cursor: pointer;
    scale: 1.2;
}
footer{
    margin-top: 390px;
    padding: 8px;
    background-color:#EE4035 ;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
img[alt="pokemon"] {
    border-bottom: black solid 10px;
}
.searchBar{
  background-color: #919191;
  border-radius: 100%;
  min-width: 2rem;
  min-height: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(232, 207, 100, 9.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 10%;
}
.display{
    display:flex;
    flex-direction: row;
    display: inline-block;
}