*{
    margin: 0;
    font-size: 24px;
    background-color: blanchedalmond;
    color: blueviolet;
}
main{
    flex-grow: 1;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header{
    padding: 4px;
    background-color: rgb(131, 189, 146);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    background-color:  rgb(131, 189, 146);
}
ul{
    background-color:  rgb(131, 189, 146);
    display: inline-block;
}
li{
    background-color:  rgb(131, 189, 146);
    list-style: none;
    font-size: 14px;
}
article{
    display: flex;
    flex-wrap: wrap;
}
#hero{
    background-image: url(hero-img.png);
    height: 240px;
    border: 0;
    margin: 0;
}
#hero:hover{
    scale: 1;
    cursor: auto;
    background-color: blanchedalmond;
}
div{
    margin: 10px;
    border: 4px;
    border-radius: 5px;
    border-color:  rgb(131, 189, 146);
    border-style: solid;
    padding: 10px;
}
div:hover{
    background-color: aliceblue;
    cursor: pointer;
    scale: 1.2;
}
footer{
    padding: 8px;
    background-color:rgb(131, 189, 146) ;
    font-size: 14px;
    display: flex;
    justify-content: center;
}