* {
  margin: 0;
  font-size: 24px;
  background-color: #919191;
}
header {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #3c5aa6;
  -webkit-text-stroke-width: 2.5px;
  color: #ffcb05;
  text-shadow: 1px 5px 1px #0a285f;
  padding: 10px;
  background-color: #ee4035;
  border-bottom: black solid 10px;
  letter-spacing: 3px;
}
h1 {
  display: flex;
  justify-content: center;
  background-color: #ee4035;
  text-shadow: 1px 10px 1px #0a285f;
  font-size: 75px;
}
ul {
  background-color: #ee4035;
  padding-right: 15px;
  margin-top: -115px;
  margin-bottom: 10px;
}

li {
  background-color: #ee4035;
  list-style: none;
  font-size: 25px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
 
}

article {
  display: flex;
  flex-wrap: wrap;
}

div:hover {
  cursor: pointer;
}
footer {
  margin-top: 390px;
  padding: 8px;
  background-color: #ee4035;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
img[alt="pokemon"] {
  border-bottom: black solid 10px;
}
.wholeSearch {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  padding-right: 20%;
  padding-bottom: 20px;
  letter-spacing: 3px;
  padding-top: 20px;
}

#pokemonInfo {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #3c5aa6;
  -webkit-text-stroke-width: 2.5px;
  color: #ffcb05;
  text-shadow: 1px 8px 1px #0a285f;
  padding-left: 40%;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: capitalize;
  
  
}

#typeSelect {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #3c5aa6;
  -webkit-text-stroke-width: 2.5px;
  color: #ffcb05;
  text-shadow: 1px 4px 1px #0a285f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #919191;
  border-radius: 2px;
  border: #000000 solid 2px;
  min-width: 2rem;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#fetchButton {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #3c5aa6;
  -webkit-text-stroke-width: 2.5px;
  color: #ffcb05;
  text-shadow: 1px 4px 1px #0a285f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #919191;
  border-radius: 2px;
  border: #000000 solid 2px;
  min-width: 2rem;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.hidden {
  display: none;
}

.type {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #3c5aa6;
  -webkit-text-stroke-width: 2.5px;
  color: #ffcb05;
  text-shadow: 1px 10px 1px #0a285f;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-size: 50px;
  padding: 5px;
}

label {
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #3c5aa6;
  -webkit-text-stroke-width: 2.5px;
  color: #ffcb05;
  text-shadow: 1px 8px 1px #0a285f;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-size: 50px;
  padding: 5px;
}

.split-container {
  display: flex;
  flex-direction: row;
  border: black 10px solid;
  padding: 50px;
  margin: 5%;
}

.left {
  width: 50%;
  padding: 20px;
}

.right {
  width: 50%;
  padding: 20px;
}

/* CSS for the card images */
#cardList img {
  cursor: pointer;
  margin: 5px;
  max-width: 100%;
  max-height: 100;
  border: black solid 1px;
  border-radius: 4%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(pikachu.gif) no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

}

#loader img {
  width: 100px;
  height: 100px;
}

h2, p{
    font-size: 50px;
    padding-left: 10%;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: capitalize;
  display: flex;
}

@media screen and (max-width: 1000px) {
  img {width: 1000px}
  label {font-size: 30px;}
  #pokemonInfo {font-size: 30px;}
  #typeSelect {height: 40px; font-size: 20px;width: 1000px;}
  #fetchButton{width: 1000px;}
  .split-container{flex-direction: column;}
  .h2{font-size: 20px;}
}

@media (max-width: 600px) {
  img { width: 100%; } /* Adjust image width to fit the phone screen */
  label { font-size: 20px; } 
  h1{
    font-size: 75px;
    justify-content: left;
  }
  li{
    font-size:15px;
    padding-right: -10px;
  }
  #cardlist {
  display:flex;
  flex-wrap: wrap;
  }

  #pokemonInfo { font-size: 20px; }
  #pokemonInfo img {
    height: 50px;
  }
  
  
  #typeSelect { 
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke-color: #ffcb05;
  -webkit-text-stroke-width: 0.5px;
  color: #3c5aa6;
  text-shadow: 1px 8px 1px #0a285f;
    font-size: 10px;
    padding: 8px;
  } 

  #fetchButton {
    -webkit-text-stroke-color: #ffcb05;
  -webkit-text-stroke-width: 0.5px;
  color: #3c5aa6;
  text-shadow: 1px 6px 1px #0a285f;
    font-size:10px;
    padding: 10px } 
  
  .img
  .split-container { 
    display: flex;
    flex-direction: column-reverse;
    border: black 2px solid;
    padding: 20px;
    margin: -5%; }  

  h2 , p{ font-size: 16px;
    display:flex;
    flex-direction: column-reverse;
    -webkit-text-stroke-color: #ffcb05;
  -webkit-text-stroke-width: 1px;
  color: #3c5aa6;
  text-shadow: 1px 6px 1px #0a285f;

     } 